* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 150px;
  background-color: rgb(150, 93, 204);
  position: relative;
}
header .logo-box{
  width: 50%;
  display: inline-block;
}
header .logo-box .logo{
  max-width: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 20px;
}
header nav{
  width: 50%;
  display: inline-block;
  margin-left: -4px;
}
nav .list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin: 0 20px;
  right: 0;
}
nav .list-item{
  display: inline-block;
}
nav .item-link {
  text-decoration: none;
  background-color: brown;
  color: white;
  padding: 10px 20px;
}
main {
  height: 750px;
}
main .sidebar {
  background-color: chartreuse;
  width: 25%;
  height: inherit;
  display: inline-block;
}
main .body {
  width: 75%;
  margin-left: -4px;
  height: inherit;
  background-color: darkgreen;
  display: inline-block;
}